* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(195, 122, 122);
}
/* container principale */
.container {
    width: 900px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* contenitore per foto */
.items {
    position: relative;
    width: 900px;
    height: 400px;
}

.item {
    height: 100%;
    display: none;
    position: relative;
}
/* active per far riapparire le foto */
.item.active {
    display: block;
}
/* descrzione e foto */
.description-container{
    width: 400px;
    position: absolute;
    top: 80%;
    text-align: end;
    left: 300px;
}
.img{
    width: 80%;
    height: 100%;
    object-fit: cover;
}
.description{
    word-wrap: break-word
}
.description-container h3,p{
    color: white;
}
/* descrzione e foto */
/* frecce destra */
.prev, .next {
    width: 20px;
    height: 20px;
    margin: 10px 0;
    border-radius: 50%;
    background: #ccc;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 999;
}
.next {
    bottom: 0;
}

.prev::after {
    content: '';
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%) rotate(-45deg);
}

.next::before {
    content: '';
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: block;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%) rotate(135deg);
}
/* frecce destra */
/* button start e stop */
.button{
    margin-top: 20px;
}
.button .start,
.stop{
    padding: 10px 15px;
    margin: 5px;
}
/* button start e stop */
/* contenitore img destra */
.right-container{
    width: 20%;
    height: 400px;
    position: absolute;
    right: 0;
}
/* immagini destra */
.right-box img{
    width: 100%;
    height: 80px;
    display: block;
}
/* immagini di destra grige */
.gray-scale{
    filter: grayscale(1);
}